@using proyecto_programacion_avanzada.Common.Enums;
@model IEnumerable<proyecto_programacion_avanzada.ViewModels.Vivienda.ViviendaListViewModel>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

@{
    ViewBag.Tittle = "Viviendas";
}

<!--Contenedor Principal-->
<div class="container-fluid d-flex flex-column p-5 gap-3">

    <div>
        @Html.ActionLink(
            " ",
            "Index",
            null,
            new
            {
                @class = "bi bi-arrow-left-circle text-danger fs-4"
            }
        )

    </div>


    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Gestión de Viviendas</h2>

        @Html.ActionLink(
            " Agregar Vivienda",
            "Create",
            null,
            new
            {
                @class = "btn btn-success rounded-1 px-3 py-2 shadow-sm bi bi-person-plus-fill"
            }
        )
    </div>


    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>Número</th>
                <th>Bloque</th>
                <th>Tipo</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Numero</td>
                    <td>@item.Bloque</td>
                    <td>@item.Tipo</td>
                    <td>
                        @if (item.Estado == EstadoGeneral.Activo)
                        {
                            <span class="text-success fw-semibold">@item.Estado</span>
                        }
                        else
                        {
                            <span class="text-danger fw-semibold">@item.Estado</span>

                        }
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdVivienda },
                        new { @class = "btn btn-warning btn-sm" })

                        @Html.ActionLink("Detalles", "Details", new { id = item.IdVivienda },
                        new { @class = "btn btn-info btn-sm" })

                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdVivienda },
                        new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

