@model proyecto_programacion_avanzada.DTOs.UsuarioDto
@using proyecto_programacion_avanzada.Common.Enums

@{
    ViewBag.Title = "Crear Usuario";
}

<h2>Crear Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.Nombre)
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Nombre,"",new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Correo)
        @Html.TextBoxFor(x => x.Correo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Correo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Telefono)
        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Contrasena)
        @Html.PasswordFor(x => x.Contrasena, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Contrasena,"",new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Rol)

        @Html.DropDownListFor(
            x => x.Rol,
            new SelectList(Enum.GetValues(typeof(RolUsuario))),
            "Seleccione un rol",
            new { @class = "form-control" }
        )

        @Html.ValidationMessageFor(x => x.Rol, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Estado)

        @Html.DropDownListFor(
            x => x.Estado,
            new SelectList(Enum.GetValues(typeof(EstadoGeneral))),
            "Seleccione un estado",
            new { @class = "form-control" }
        )

        @Html.ValidationMessageFor(x => x.Estado, "", new { @class = "text-danger" })
    </div>

    <br />

    <button class="btn btn-success">
        Guardar
    </button>

    @Html.ActionLink("Volver", "Index", null,
    new { @class = "btn btn-secondary" })
}